#mobile-nav {
    display: none;
    background-color: transparent;
    position: absolute;
    left: 10%;
    top: 2dvh;
    z-index: 2;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    > button {
        border: none;
        background: transparent;
    }
}

@media (max-width: 700px) {
    #mobile-nav {
        display: flex;
    }
}
