:root {
    --main-color: #1f2126;
    --main-color-2: #15171a;
    --text-color: #ffffff;
    --text-color-2: #717171;
    --border-color: #313438;
    --border-color-light: #4c5461;
    --detail-color: #cf0c10;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--main-color);
    /*
  background-color: var(--dark-black);
  */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    overflow-x: hidden;
}

body {
    max-width: 100dvw;
    height: auto;
    padding: 0;
    margin: 0;
}

* {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    font-family: "Lucida Console", "Courier New", monospace;

    transition-property: color, background-color;
    transition-duration: 0.3s;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    outline: none;
}

img {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.detailed {
    color: var(--detail-color);
}

::-moz-selection,
::selection {
    opacity: 1 !important;
    color: #fff !important;
    background: var(--detail-color);
}
